/*Begin Navbar*/
.nav-wrapper{
    background-color: rgb(26, 60, 133);
    padding: 0 10px 0 10px;
}
/*End Navbar*/

/*Begin Footer*/
.page-footer{
    background-color: rgb(26, 60, 133);
}

.page-footer .footer-copyright a{
    color: inherit;
}
/*End Footer*/