.container{
    height: 18vw;
    width: 38vw;   
}

.container img{
    height: 18vw;
    width: 38vw;
    filter: blur(5px);
}

/*Begin Mobile Styling*/
@media screen and (max-width: 992px) {
    .container{
        height: auto !important;
        width: 94vw !important;
        margin: 10px 10px 0px 10px !important;
        text-align: center;
        position: relative;
    }

    .container img{
        height: auto !important;
        width: 94vw !important;
        filter: blur(3px) !important;
        border-radius: 10px;
    }

    .centered{
        position: absolute;
        bottom: 20vw;
        left: 0;
        right: 0;
        z-index: +1;    
        color: white;
        font-size: 10vw;
        font-weight: 500;
        text-shadow: 2px 2px 4px #000000
    }
}